@model List<InternApp.Models.Root>




<h1>Hava Durumu</h1>
<div id="searchResult">
    <!-- Arama sonucu burada görüntülenecek -->
</div>
<div>
    <input type="text" id="citySearch" class="form-control mb-2" placeholder="Şehir adı girin" value="Sakarya">
    <div class="input-group-append">
        <button class="btn btn-primary mb-2" type="button" onclick="searchWeather()">Ara</button>
    </div>
</div>



<div class="row">
    @foreach (var weatherData in Model)
    {

        <div class="col-md-4">
            <div class="card mb-4" style="color: #4B515D; border-radius: 35px;">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <h6 class="flex-grow-1">@weatherData.name</h6>
                        @*<h6>@weatherData.timezone</h6>*@
                    </div>

                    <div class="d-flex flex-column text-center mt-5 mb-4">
                        <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;">@Math.Round(weatherData.main.temp)°C</h6>
                        <span class="small" style="color: #868B94">@weatherData.weather[0].description</span>
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1" style="font-size: 1rem;">
                            <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> Rüzgar Hızı: <span class="ms-1">@weatherData.wind.speed km/h</span></div>
                            <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> Nem: <span class="ms-1">@weatherData.main.humidity%</span></div>
                            <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> En Yüksek Sıcaklık: <span class="ms-1">@Math.Round(@weatherData.main.temp_max)°C</span></div>
                        </div>
                        <div>
                            @{

                                var iconCode = weatherData.weather[0].icon;
                                var iconUrl = Url.Action("GetWeatherIcon", "Weather", new { iconCode = iconCode });
                            }



                            <img src="@Url.Content("~/images/" + weatherData.weather[0].icon + ".png")" class="card-img-top" width="70" height="70" alt="Hava Durumu">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<partial name="_WeatherPartial" model="weatherData"></partial>*@
    }
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    async function searchWeather() {
        const city = document.getElementById('citySearch').value;
        try {
            const response = await $.ajax({
                url: `/Weather/Search?city=${city}`,
                type: 'GET',
                dataType: 'html'
            });

            $('#searchResult').html(response);
        } catch (error) {
            console.error('Hata:', error);
            $('#searchResult').html('<div class="alert alert-danger">Hava durumu bilgileri alınamadı.</div>');
        }
    }

    $(document).ready(function () {
        searchWeather();
    });
</script>